<div class="lesson-attendee-picker">
  <mat-form-field class="full-width">
    <mat-select placeholder="Student" [(value)]="selectedStudent" required>
      <mat-option *ngFor="let student of students" [value]="student">
        {{student.name}}
      </mat-option>
    </mat-select>
    <mat-error>Student is required</mat-error>
  </mat-form-field>
  <button 
    mat-mini-fab 
    matTooltip="Add Student" 
    matTooltipPosition="right" 
    class="icon-button--shake"
    (click)="pickAttendee()">
    <mat-icon aria-label="Add Student">add</mat-icon>
  </button>
</div>
