<h2 mat-dialog-title>Lesson Details</h2>
<mat-dialog-content>
  <p>
  {{lesson.date}}
  </p>
  <lesson-date-time-picker
    [date]="lesson.date"
    [startTime]="lesson.startTime"
    [endTime]="lesson.endTime">
  </lesson-date-time-picker>
  <lesson-attendance-list 
    [attendees]="lesson.attendees">
  </lesson-attendance-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" 
    class="icon-button--shake" [mat-dialog-close]="true">
    <mat-icon>save</mat-icon><span>Save</span>
  </button>
</mat-dialog-actions>


