<h2 mat-dialog-title>Lesson Details</h2>
<mat-dialog-content>
  <lesson-date-time-picker #dateTimePicker
    [date]="lesson.date"
    [startTime]="lesson.startTime"
    [endTime]="lesson.endTime"
    (dateTimeChange)="onDateTimeChanged($event)">
  </lesson-date-time-picker>
  <lesson-attendance-list 
    [attendees]="lesson.attendees">
  </lesson-attendance-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!dateTimePicker.isValid"
    class="icon-button--shake" [mat-dialog-close]="lesson">
    <mat-icon>save</mat-icon><span>Save</span>
  </button>
</mat-dialog-actions>


