<h3 mat-subheader>Calendar</h3>
<mat-divider></mat-divider>
<div class="calendar-container">
  <div class="calendar-header">
    <app-calendar-header 
      [(view)]="view" 
      [(viewDate)]="viewDate"
      (viewDateChange)="onViewDateChanged($event)">
    </app-calendar-header>
  </div>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      [refresh]="refresh"
      (dayClicked)="onDayClicked($event.day)"
      (eventTimesChanged)="onEventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="onEventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"    
      [refresh]="refresh"
      [dayStartHour]="7"
      [dayEndHour]="20"
      [hourSegments]="4"
      (eventTimesChanged)="onEventTimesChanged($event)">
    </mwl-calendar-day-view>
    </div>
</div>