<form [formGroup]="lessonDateTimeForm">
  <mat-form-field>
    <input matInput placeholder="Date" [matDatepicker]="picker" formControlName="date" (dateChange)="onFormChanged()" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
    <mat-error>Invalid date</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Start Time" formControlName="startTime" (change)="onFormChanged()" required>
    <button matSuffix mat-icon-button (click)="openTimePicker('startTime')">
      <mat-icon aria-label="Start Time">schedule</mat-icon>
    </button>
    <mat-error *ngIf="hasError('startTime', 'required')">Start Time is required</mat-error>
    <mat-error *ngIf="hasError('startTime', 'time')">Invalid time</mat-error>
    <mat-error *ngIf="hasError('startTime', 'timeOrder')">Start Time should be before End Time</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="End Time" formControlName="endTime" (change)="onFormChanged()" required>
    <button matSuffix mat-icon-button (click)="openTimePicker('endTime')">
        <mat-icon aria-label="End Time">schedule</mat-icon>
    </button>
    <mat-error *ngIf="hasError('endTime', 'required')">End Time is required</mat-error>
    <mat-error *ngIf="hasError('endTime', 'time')">Invalid time</mat-error>
    <mat-error *ngIf="hasError('endTime', 'timeOrder')">End Time should be after Start Time</mat-error>
  </mat-form-field>
</form>