<form [formGroup]="lessonDateTimeForm">
  <mat-form-field>
    <input matInput placeholder="Date" [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Start Time" formControlName="startTime">
    <mat-icon matSuffix (click)="open('start')" aria-label="Start Time" class="time-picker-toggle">schedule</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="End Time" formControlName="endTime">
    <mat-icon matSuffix (click)="open('end')" aria-label="End Time" class="time-picker-toggle">schedule</mat-icon>
  </mat-form-field>
</form>