
.student-detail-form {
    margin: 24px;
}

.student-detail-container {
    max-width: 1000px;
}

.full-width {
    width: 100%;
}

button span {
    padding-left: 12px;
}

mat-card.card--student-details, 
mat-card.card--parent-details {
    max-width: 500px;
    margin-bottom: 16px;
    margin-right: 16px;
}

div.card-container 
{
    display: flex;
    flex-direction: row;
}

div.action-container
{
   margin-right: 16px;
}
